* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 25px;
}

ul {
    margin-bottom: 50px;
}

.em-bloco li {
    background-color: #dc143c;
    margin-bottom: 10px;
    width: 100px;
}

.em-linha li {
    display: inline;
    background-color: #dc143c;
}

.em-linha-e-bloco li {
    display: inline-block;
    background-color: #dc143c;
    width: 100px;
    height: 100px;
}

.esconder {
    display: none;
    background-color: #dc143c;
    width: 100px;
    height: 100px;
}